{{> headr }}

<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fafbfc;
    color: #333;
  }

.product-grid {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  }
</style>



<div class="main-container">
  <!-- Sidebar Group -->
  {{> profilesidebar}}

  <!-- Main Content -->
 <main class="product-grid">
  <div class="address-info ms-4">
    <div class="address-title">
    <h4 class="mb-4">Manage Addresses</h4>
</div>
<div class="border mb-4" style="padding:20px 20px ">
   <a href="/add-address" style="color:#1962eb ;padding-top:20px; text-transform:uppercase;font-size:16px;font-weight:600">
    <i class="fa-regular fa-plus me-3"></i>Add a new address</a> 
</div>
{{#each userAddress.address}}
<div class="border p-4">
    <span class="border pe-1 ps-1" style="background:#ddd">{{this.addressType}}</span>
    <p><strong style="text-transform:uppercase">{{this.fullName}} &nbsp;{{this.phone}}</strong></p>
    <p>{{this.houseDetails}}, {{this.city}}, {{this.state}} - <span style="font-weight: 600;">{{this.pincode}}</span></p>
    {{#if this.altPhone}}<p>Alt Phone: {{this.altPhone}}</p>{{/if}}
    {{#if this.landMark}}<p>Landmark: {{this.landMark}}</p>{{/if}}
 
    <div class="action-buttons text-end">
         <a href="/edit-address/{{this._id}}">
    <button class="btn btn-primary btn-sm me-4">edit</button></a>
    
   
    <button  class="btn btn-danger btn-sm" onclick="deleteAddress('{{this._id}}')">delete</button>
    </div>
</div>
{{/each}}
  </div>
</div>


<script> 
function deleteAddress(id) {
  Swal.fire({
    title: 'Are you sure?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes',
    cancelButtonText: 'No'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: `/delete-address/${id}`, 
        method: "DELETE",
        success: function(data) {
          Swal.fire({
            title: 'Deleted!',
            text: data.message,
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            location.reload();
          });
        },
        error: function(err) {
          Swal.fire({
            title: 'Error!',
            text: err.responseJSON?.message || 'An unexpected error occurred.',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        }
      });
    }
  });
}

</script>

{{> foote }}
